.pattern-rhombus {
  background-color: transparent;
  opacity: 1;
  background-image:
    linear-gradient(135deg, rgba(54, 68, 92, 0.2) 25%, transparent 25%),
    linear-gradient(225deg, rgba(54, 68, 92, 0.2) 25%, transparent 25%),
    linear-gradient(45deg, rgba(54, 68, 92, 0.2) 25%, transparent 25%),
    linear-gradient(315deg, rgba(54, 68, 92, 0.2) 25%, transparent 25%);
  background-position:
    50px 0,
    50px 0,
    0 0,
    0 0;
  background-size: 50px 50px;
  background-repeat: repeat;
}
