---
import Layout from '../layouts/Layout.astro';
---

<main>

    <Layout title="Home">
        <h1>404</hjson>
        <p>
        Astro is a new kind of static site builder that delivers lightning-fast performance and modern developer experience.
        </p>
    </Layout>
</main>