---
import Layout from "../layouts/Layout.astro"
---
<Layout title="About me">

    <div class="px-12 text-white mt-11">
        <h1 class="text-white content-center">About this page</h1>

        <p>This page is a recopilatory of the projects I make in my free time</p>

        <p> This page itslef it's a project to learn about HTML, Tailwind, Astro and in general
        Web development and frameworks
        </p>
    </div>
    
</Layout>
