---
import GlassCard from "../components/GlassCard.astro"
import Layout from "../layouts/Layout.astro"
---
<Layout title="About me">

    <div class="2xl:px-96  px-10 text-white pt-28 ">
        <div class=" flex flex-row  items-stretch">
            <div>
                <GlassCard>
                    <h1 class="text-3xl font-bold text-center text-slate-500">About me</h1>
                    <p class="text-lg text-slate-400 mt-5">
                        This page will be dedicated to upload projects I make in my free time.
                    </p>
                    <br>
                    <p class="text-slate-400">
                        The page itself is made with Astro, a static site generator that uses React components to build the pages.
                    </p>
                </GlassCard>
            </div>
            
            <div class="px-4 min-h-10">
                <GlassCard>
                    <img src="" alt="Web development" />

                </GlassCard>
            </div>
        </div>
    </div>
    
</Layout>
