---
import GlassCard from "../components/GlassCard.astro"
import Layout from "../layouts/Layout.astro"
---
<Layout title="About me">
    <div class="text-white pt-28 flex flex-col items-stretch grid place-items-center">
        <div class="flex">
            <div class="content-center max-w mx-10">
                <GlassCard>
                    <h1 class="text-3xl font-bold text-center text-slate-500">About me</h1>
                    <p class="text-xl text-slate-400 mt-5">
                        This page will be dedicated to upload projects I make in my free time.
                    </p>
                    <br>
                    <p class="text-slate-400">
                        I am currently studying computer Science at EHU UPV, working on the branch of computing.
                        However, I also like other aspects of informatics, such as software engineering. <br>
                        <br>
                        In this projects listed in this page, I will try to use tools as different as posible from each other: starting from  basic HTML, CSS and JavaScript, to use 
                        Python, Qiskit, SQL and R for example. <br>
                        <br>
                        In the future I would like to add more projects related with Graphics using C and C# and explore the web frameworks like React more deeply<br>
                    </p>
                </GlassCard>
            </div>
            <div class="px-4 min-h-10 content-center ">
                <GlassCard>
                    <img src="" alt="Web development" />
                </GlassCard>
            </div>
        </div>
    </div> 
</Layout>
