---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';

console.log('Hola mundo');
---

<Layout title ="Projects">		
	<main class="">
		
		<section class="flex-wrap justify-center">
				<div class="grid place-items-center grid-flow-row gap-8 grid-cols-1  md:grid-cols-2 xl:grid-cols-3 2xl:px-40 py-28 ">
					<ProjectCard name="Calculator" 
						desc="A simple calculator made with HTML, CSS and JavaScript. Implements a dynamic dark/light theme switcher." 
						href="https://www.github.com/AmetsMarti/Calculator"
						image_url="calculator_thumbnail.jpg"
						width="300"
						height="200"
						alt="Calculator thumbnail"
						tags={["JavaScript","HTML","CSS"]} />

					<ProjectCard name="mapGenerator" 
						tags={["Python", "PyPlot"]}	
						href="https://www.github.com/AmetsMarti/mapGenerator"						
						alt="Map generator thumbnail"
						desc="A map generator that implements cellular automata and random movement to generate maps alike to roguelike games"
						image_url="map_generator_thumbnail.png"
						width="300"
						height="200" />

					<ProjectCard name="IBM Quantum Challenge 2024" 
						tags={["Python", "Qiskit"]}	
						href="https://www.github.com/AmetsMarti/IBM-Quantum-Challenge-2024"						
						alt="IBM Quantum Challenge 2024 thumbnail"
						desc="My solutions to the IBM Quantum Challenge 2024. The challenge consisted of solving 4 problems using quantum computing"
						image_url="qiskit_thumbnail.jpg"
						width="20"
						height="20" />

					<ProjectCard name ="TheDB"
						tags={["JavaScript", "HTML", "CSS", 'SQL']}	
						href="https://www.github.com/AmetsMarti/TheDB"
						alt="TheDB thumbnail"
						desc="A Full Stack app that uses an external MySQL database to store books i am reading with their respective info"
						image_url="thedb_thumbnail.jpg"
						width="20"			
						height="20"		
						/>
				</div>
			</section>
	</main>

</Layout>





