---
const {href} = Astro.props
---
<a href={href} class="button">
    <slot name="before"/>
    <slot/>
    <slot name="after"/>
</a>

<style>
    .button{
        @apply 
        bg-slate-700/40
        backdrop-blur-md
        border
        border-slate-400/20
        hover:bg-slate-800/30
        text-slate-300
        font-bold 
        py-2
        px-2
        rounded-xl
        cursor-pointer
        mx-2
    }
</style>