---
import HeaderButton from "../components/HeaderButton.astro"
---


<header class ="text-center mx-auto pt-10 flex-wrap">
    <div class="">
        <h2 class="font-extrabold text-white text-4xl tracking-tight mb-4" >My Astro Page</a></h2>
        <p class=" text-zinc-600 text-2sm">
            "Kaixo mundua"
        </a>
        
        <nav class="my-4">
            <HeaderButton class="flex" href="/index">Home</HeaderButton>
            <HeaderButton class="flex" href="/about">About</HeaderButton>
            <HeaderButton class="flex" href="/projects"> My projects</HeaderButton>    
        </nav>
    </div>
</header>