---
const {href} = Astro.props
---
<a href={href} class="button">
    <slot name="before"/>
    <slot/>
    <slot name="after"/>
</a>

<style>
    .button{
        @apply 
        transition-all
        duration-150
        border
        border-slate-500
        hover:border-slate-400
        hover:bg-slate-500/30
        text-slate-300
        font-bold 
        py-2
        px-2
        cursor-pointer
        mx-2
    }
</style>